<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body class="bg-bg-splash bg-cover bg-no-repeat bg-right-bottom h-screen px-20 font-poppins">
<header class="xl:h-1/6 flex items-center justify-between py-5 xl:py-10 flex-wrap">
    <aside class="flex items-start">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/tut%20wuri%20handayani_logo.png" alt="tut wuri handayani">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/unej_logo.png" alt="logo unej">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/Blu_logo.png" alt="logo blu">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/kampus%20merdeka_logo.png" alt="kampus merdeka">
    </aside>
    <aside class="flex justify-end items-start">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/logo%20fasilkom.png" alt="logo fasilkom">
    </aside>
</header>
<main>
    <h1 class="font-black text-3xl 2xl:text-6xl text-red-primary">Layanan Mandiri<br>Mahasiswa FASILKOM</h1>
    <div class="mt-8 flex items-start gap-1 w-full xl:w-2/3 2xl:w-1/2 bg-red-300 p-3 rounded-xl text-slate-900">
        <aside>
            <img src="/public/assets/info-circle.svg" class="p-1 w-10" alt="info">
        </aside>
        <aside>
            <h2 class="font-semibold">Pilih Menu Layanan</h2>
            <p>Silahkan pilih menu yang tersedia untuk melakukan pengajuan surat. Jika Anda belum mengetahui cara
                penggunaan layanan ini, silahkan klik tombol <span>Alur Pengajuan</span>.</p>
        </aside>
    </div>
    <div class="mt-8 flex items-end 2xl:gap-2">
        <a href="/pengajuan.html"><img class="w-2/3 2xl:w-full" src="/public/assets/home/pengajuan.png" alt="pengajuan"></a>
        <a href="#"><img class="w-2/3 2xl:w-full" src="/public/assets/home/status.png" alt="status"></a>
        <a href="#"><img class="w-2/3 2xl:w-full" src="/public/assets/home/keaslian.png" alt="keaslian"></a>
        <a href="#"><img class="w-2/3 2xl:w-full" src="/public/assets/home/alur.png" alt="alur"></a>
    </div>
</main>
</body>
</html>