<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surat Lomba</title>
    <link rel="stylesheet" href="/public/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body class="bg-bg-main bg-cover bg-no-repeat bg-right-top h-screen px-20 font-poppins">
<header class="xl:h-1/6 flex items-center justify-between py-5 xl:py-10 flex-wrap">
    <aside class="flex justify-start items-start">
        <a href="/surat-lomba/hal-3.html"><img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/back.png" alt="back"></a>
    </aside>
    <aside class="flex justify-end items-start">
        <img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/logo%20fasilkom.png" alt="logo fasilkom">
    </aside>
</header>
<main class="h-1/2">
    <div class="flex items-center gap-4 h-1/4">
        <aside class="h-full">
            <img class="h-full" src="/public/assets/surat-lomba/icon.png" alt="main-icon">
        </aside>
        <aside>
            <h1 class="font-black text-2xl xl:text-3xl 2xl:text-6xl text-red-primary">SURAT MENGIKUTI LOMBA</h1>
            <p class="xl:text-xl text-slate-800">Isi data diri dengan benar</p>
        </aside>
    </div>
    <div class="flex flex-col items-center">
        <div class="flex items-center gap-2">
            <div class="flex flex-col items-center relative">
                <h1 class="w-6 h-6 xl:w-10 xl:h-10 bg-red-primary text-slate-50 font-black xl:text-xl rounded-full flex items-center justify-center">
                    1</h1>
                <p class="w-[300%] xl:w-[200%] text-center absolute top-6 xl:top-10">Data diri</p>
            </div>
            <hr class="w-20 border-2">
            <div class="flex flex-col items-center relative">
                <h1 class="w-6 h-6 xl:w-10 xl:h-10 bg-red-primary text-slate-50 font-black xl:text-xl rounded-full flex items-center justify-center">
                    2</h1>
                <p class="w-[300%] xl:w-[200%] text-center absolute top-6 xl:top-10">Data Tim</p>
            </div>
            <hr class="w-20 border-2">
            <div class="flex flex-col items-center relative">
                <h1 class="w-6 h-6 xl:w-10 xl:h-10 bg-red-primary text-slate-50 font-black xl:text-xl rounded-full flex items-center justify-center">
                    3</h1>
                <p class="w-[300%] xl:w-[300%] text-center absolute top-6 xl:top-10">Detail Lomba</p>
            </div>
            <hr class="w-20 border-2">
            <div class="flex flex-col items-center relative">
                <h1 class="w-6 h-6 xl:w-10 xl:h-10 bg-red-primary text-slate-50 font-black xl:text-xl rounded-full flex items-center justify-center">
                    4</h1>
                <p class="w-[300%] xl:w-[200%] text-center absolute top-6 xl:top-10">Review</p>
            </div>
            <hr class="w-20 border-2">
            <div class="flex flex-col items-center relative">
                <h1 class="w-6 h-6 xl:w-10 xl:h-10 bg-slate-300 text-slate-900 font-black xl:text-xl rounded-full flex items-center justify-center">
                    5</h1>
                <p class="w-[300%] xl:w-[200%] text-center absolute top-6 xl:top-10">Struk</p>
            </div>
        </div>
        <div class="mt-20 w-1/2 2xl:w-1/3 bg-slate-50 p-5 rounded-2xl flex flex-col gap-4 outline outline-8 outline-red-500">
            <h2 class="font-bold">Review</h2>
            <hr class="bg-black border">
            <div id="input" class="flex flex-col gap-4 my-2">
                <div>
                    <h3 class="font-bold">Nama :</h3>
                    <p>Firdhan Nur Rahmadhani 212410102008</p>
                </div>
                <div>
                    <h3 class="font-bold">Anggota Tim :</h3>
                    <p>Firdhan Nur 21241010xxxx</p>
                    <p>Firdhan Nur 21241010xxxx</p>
                    <p>Firdhan Nur 21241010xxxx</p>
                </div>
                <div>
                    <h3 class="font-bold">Dosen Pembimbing :</h3>
                    <p>Fahrobby Adnan</p>
                </div>
                <div>
                    <h3 class="font-bold">Nama Kompetisi :</h3>
                    <p>Pekan Kreatifitas Mahasiswa 2023</p>
                </div>
                <div>
                    <h3 class="font-bold">Penyelenggara Acara :</h3>
                    <p>Pusat Prestasi nasional</p>
                </div>
                <div>
                    <h3 class="font-bold">Tanggal Pelaksanaan :</h3>
                    <p>13 Agustus 2023</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="mt-5 xl:mt-0 h-1/3 py-10 flex items-end justify-end">
    <a href="/surat-lomba/hal-5.html" class="flex justify-end items-center"><img class="w-1/2 xl:w-2/3 2xl:w-full object-contain" src="/public/assets/next.png" alt="next"></a>
</footer>
</body>
</html>